@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="container-fluid">
        <h5 class="mt-4 mb-2">Kepala Keluarga & Anggota Keluarga</h5>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>
                        <h5>Kepala Keluarga</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <a class="small-box-footer" href="#">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-warning">
                <div class="inner">
                    <h3>580</h3>
                    <h5>Anggota Keluarga</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fas fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
        </div>

        <h5 class="mt-4 mb-2">BALITA (0-5 th), Anak (6-12 th), Remaja (13-18 th)</h5>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>85</h3>
                        <h5>Bawah Lima Tahun</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <a class="small-box-footer" href="#">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>112</h3>
                        <h5>Anak - anak</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <a class="small-box-footer" href="#">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>143</h3>
                        <h5>Anak Remaja</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <a class="small-box-footer" href="#">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <h5 class="mt-4 mb-2">Pemeluk Agama</h5>
        <div class="row">
            
        </div>
    </div>
</div>
